---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Curriculum Vitae'>
    <section>
        <article class="cv">
    
        </article>
        <article class="CVContacto">
    
        </article>
    </section>
</Layout>