---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Gabyfroso">
  <section>
    <article class="inico"></article>
  </section>
  <section><article class="frameworks"></article></section>
  <section><article class="languages"></article></section>
  <section><article class="proffesions"></article></section>
  <section><article class="forme"></article></section>
</Layout>

<style>
    section{
        min-height: 100vh;
        padding: 4vh 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
</style>