<section>
    <article class="inico">

    </article>
    <article class="frameworks">

    </article>
    <article class="languages">

    </article>
    <article class="proffesions">
        
    </article>
    <article class="forme">
        
    </article>
</section>